<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chen.firstdemo">
    <!-- 悬浮窗权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".Chen"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".empty_recyclerview.EmptyAdapterActivity"></activity>
        <activity android:name=".viewstub_demo.ViewStubActivity" />
        <activity android:name=".dialog_demo.DialogActivity" />
        <activity android:name=".lazy_fragment.LazyLoadActivity" />
        <activity android:name=".rank_imageview_demo.RankImageViewActivity" />
        <activity android:name=".diy_view_demo.DIYViewActivity" />
        <activity android:name=".notification_demo.NotificationDisplayActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".floating_window_demo.ChatroomActivity"
            android:launchMode="singleTask" />
        <activity android:name=".floating_window_demo.FloatingWindowActivity" />
        <activity android:name=".notification_demo.NotificationActivity" />
        <activity android:name=".greendao_demo.GreendaoActivity" />
        <activity android:name=".bitmap_mix_demo.BitmapMixActivity" />
        <activity android:name=".bottom_tab_demo.BottomTabActivity" />
        <activity android:name=".pager_demo.PagerActivity" /> <!-- &lt;!&ndash; -->
        <!-- 多渠道打包占位符 -->
        <meta-data
            android:name="PRODUCT"
            android:value="${CHANNEL_VALUE}" /> <!-- APP key, 可以在这里设置，也可以在 SDKOptions 中提供。 -->
        <!-- 如果 SDKOptions 中提供了，取 SDKOptions 中的值。 -->
        <!-- &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="com.netease.nim.appKey" -->
        <!-- android:value="6337ce54ba30ecb6aed7d6459bdabc47" /> &lt;!&ndash; 云信后台服务，请使用独立进程。 &ndash;&gt; -->
        <!-- <service -->
        <!-- android:name="com.netease.nimlib.service.NimService" -->
        <!-- android:process=":core" /> &lt;!&ndash; 云信后台辅助服务 &ndash;&gt; -->
        <!-- <service -->
        <!-- android:name="com.netease.nimlib.service.NimService$Aux" -->
        <!-- android:process=":core" /> &lt;!&ndash; 云信后台辅助服务 &ndash;&gt; -->
        <!-- <service -->
        <!-- android:name="com.netease.nimlib.job.NIMJobService" -->
        <!-- android:exported="true" -->
        <!-- android:permission="android.permission.BIND_JOB_SERVICE" -->
        <!-- android:process=":core" /> &lt;!&ndash; 云信监视系统启动和网络变化的广播接收器，保持和 NimService 同一进程 &ndash;&gt; -->
        <!-- <receiver -->
        <!-- android:name="com.netease.nimlib.service.NimReceiver" -->
        <!-- android:exported="false" -->
        <!-- android:process=":core"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> &lt;!&ndash; 云信进程间通信 Receiver &ndash;&gt; -->
        <!-- <receiver android:name="com.netease.nimlib.service.ResponseReceiver" /> &lt;!&ndash; 云信进程间通信service &ndash;&gt; -->
        <!-- <service android:name="com.netease.nimlib.service.ResponseService" /> &lt;!&ndash; 云信进程间通信provider &ndash;&gt; -->
        <!-- &lt;!&ndash; android:authorities="{包名}.ipc.provider", 请将com.netease.nim.demo替换为自己的包名 &ndash;&gt; -->
        <!-- <provider -->
        <!-- android:name="com.netease.nimlib.ipc.NIMContentProvider" -->
        <!-- android:authorities="com.netease.nim.demo.ipc.provider" -->
        <!-- android:exported="false" -->
        <!-- android:process=":core" /> &lt;!&ndash; 悬浮窗service &ndash;&gt; -->
        <service android:name=".floating_window_demo.service.FloatingWindowService" />
    </application>

</manifest>