<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chen.firstdemo">
    <!-- 悬浮窗权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".multiple_img_view.MultipleImgViewActivity"></activity>
        <activity android:name=".sticky_nest_scrollview_demo.StickyNestScrollViewActivity" />
        <activity android:name=".hexagon_view_demo.HexagonActivity" />
        <activity android:name=".clipview_demo.ClipViewDemoActivity" />
        <activity android:name=".glide_webp_demo.GlideWebpActivity" />
        <activity android:name=".take_photo_demo.TakePhotoBucketActivity" />
        <activity android:name=".take_photo_demo.TakePhotoActivity" />
        <activity android:name=".recyclerview_layoutmanager_demo.RecyclerViewLayoutManagerActivity" />
        <activity android:name=".wheel_anim_demo.WheelRecyclerActivity" />
        <activity android:name=".wheel_anim_demo.ViewpagerAnimActivity" />
        <activity android:name=".sticky_demo.StickyActivity" />
        <activity android:name=".drag_recycler_demo.DragRecyclerDeniActivity" />
        <activity android:name=".matrix_demo.MatrixActivity" />
        <activity
            android:name=".chen_jin_pop_demo.ChenjinInputActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".my_wallet_demo.MyWalletActivity" />
        <activity android:name=".scroller_demo.ViewGroupActivity" />
        <activity android:name=".chen_jin_pop_demo.ChenjinPopActivity" />
        <activity android:name=".scrollview_toolbar.ScrollViewToolbarActivity" />
        <activity android:name=".shape_demo.ShapeActivity" />
        <activity android:name=".progress_imageview_demo.ProgressImageViewActivity" />
        <activity android:name=".select_tab_demo.SelectTabActivity" />
        <activity android:name=".banner_demo_github.Banner2Activity" />
        <activity android:name=".bottom_tab_demo_2.BottomTab2Activity" />
        <activity android:name=".empty_recyclerview.EmptyAdapterActivity" />
        <activity android:name=".viewstub_demo.ViewStubActivity" />
        <activity android:name=".dialog_demo.DialogActivity" />
        <activity android:name=".lazy_fragment.LazyLoadActivity" />
        <activity android:name=".rank_imageview_demo.RankImageViewActivity" />
        <activity android:name=".diy_view_demo.DIYViewActivity" />
        <activity android:name=".notification_demo.NotificationDisplayActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".floating_window_demo.ChatroomActivity"
            android:launchMode="singleTask" />
        <activity android:name=".floating_window_demo.FloatingWindowActivity" />
        <activity android:name=".notification_demo.NotificationActivity" />
        <activity android:name=".greendao_demo.GreendaoActivity" />
        <activity android:name=".bitmap_mix_demo.BitmapMixActivity" />
        <activity android:name=".bottom_tab_demo.BottomTabActivity" />
        <activity android:name=".viewpager_demo.PagerActivity" /> <!-- &lt;!&ndash; -->
        <!-- 多渠道打包占位符 -->
        <meta-data
            android:name="PRODUCT"
            android:value="${CHANNEL_VALUE}" /> <!-- APP key, 可以在这里设置，也可以在 SDKOptions 中提供。 -->
        <service android:name=".floating_window_demo.service.FloatingWindowService" />
    </application>

</manifest>